<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <title>Fotki2Picasa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="static/css/style.css" type="text/css" media="screen" charset="utf-8"/>
  </head>
  <body>
	<div class="centered">
		{% if logged_user %}
		<div>
			<div id="avatar"><img src="{{ logged_user.picture }}"></div>
			<div id="greeting">Hello {{ logged_user.name }} ({{ username }})</div>
		</div>
		<div id="actions">
			<form action="/" method="POST">
				Follow <input type="text" name="follow_account" value="{{ logged_user.follow_account }}" />
				to be <input type="text" name="needed_count" value="{{ logged_user.needed_count }}">'th follower
				<input type="submit" value="Apply" />
			</form>
		</div>
		{% else %}
		<div id="actions">
			<a href="/login-yandex">Sign in with Yandex</a>
			<a href="/login-google">Sign in with Google</a>
		</div>
		{% endif %}
	</div>
  </body>
</html>
