body
{
	background-color: #fff;
	font-size: 11pt;
	font-family: sans-serif;
	padding: 10px;
	color: #aaa;
}

.centered
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 50%;
	height: 50%;
	margin: auto;
}

.avatar
{
	float: left;
}

.greeting
{
	float: left;
	padding: 10px;
}

.actions
{
	clear: both;
	padding-top: 15px;
}
